body {
    color: navy;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 35px;
    background: #293f50;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999:
}

header h1 {
    font-weight: 300;
    margin: 0;
    color: #fff;
    font-size: 44px;
    /* adjusts text poistion height inside header */
    line-height: 60px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav {
    margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: medium;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: rgb(146, 219, 219);
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}

/* give all <section> elements a consistent look */
section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ec7d26b1-d557-47c1-a877-6050004d2fc2/dbb7hcs-1f9e8f0a-c4c7-4fc9-baf6-9e075ce86e30.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZWM3ZDI2YjEtZDU1Ny00N2MxLWE4NzctNjA1MDAwNGQyZmMyXC9kYmI3aGNzLTFmOWU4ZjBhLWM0YzctNGZjOS1iYWY2LTllMDc1Y2U4NmUzMC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.CQJpDNQVJCrDzz53ZDRjBm-4t6s6W3SR6S1Yp9aeWvg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    height: 200px;
}

.hero-slogan {
    width: 70%;
    text-align: right;
    margin: 5%;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
}

.hero-slogan h2 {
    font-size: 55px;
    text-shadow: 3px 2px navy;
    /* text-align: right; */
  }
/* HERO STYLE END */

/* My Work display grid */

.mywork {
    background: lightgrey; 
  }

.grid-container {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 x 1 fraction */
    grid-template-rows: repeat(3, 200px); /* 3 x 200px */
    grid-gap: 10px;
}

/* size of frames starts */
.grid-item-main {
    width: 600px;
    height: 370px;
    background-color: skyblue;
    border: solid;
    color: black;
  }

.grid-item {
    width: 285px;
    height: 160px;
    background-color: skyblue;
    border: solid;
    color: black;
  }
  /* size of frames ends */

  /* positioning grid-items starts */
  .main {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
  }

  .right-top {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
  }

  .right-bottom {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
  }

  .bottom-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .bottom-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

/* Apple styles for footer */

footer {
  padding: 0px 35px;
  background: #293f50;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {
  font-weight: 300;
  margin: 0;
  color: #fff;
  font-size: 32px;
  /* adjusts text poistion height inside footer */
  line-height: 82px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer nav {
  margin: 7px 0;
}

footer nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

footer nav ul li {
  color: #fff;
  padding: 10px 15px;
  font-weight: medium;
  font-size: 1.55vw;
}

footer nav ul li a {
  padding: 10px 15px;
  font-weight: medium;
  font-size: 1.55vw;
}

footer nav ul li a:hover {
  background: rgb(146, 219, 219);
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}

/* end styles for footer */
 

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

      .section-title {
        width: 80%;
      }

    /* MEDIA QUERY FOR TABLETS AND SMALLER */
    @media screen and (max-width: 768px) {

        section {
          padding: 30px 15px;
        }

        section {
          padding: 30px 15px;
        }

        .grid-container {
            grid-template-columns: 1fr 1fr;
          }

        /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
      @media screen and (max-width: 575px) {

        .section-title {
          width: 95%;
        }